  <html>
    <head>
        <title> Hello</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1> WELCOME</h1>
            You can loggin here!
            <button  class="btn btn-danger"   type="button" name="button"> Login </button>
        </div>

        <div>
            <h1>   {{ myName }}     </h1>
            <ul>
                {% for number in numbers%}
                <li> {{ number }}</li>
                 {% endfor %}
            </ul>


        </div>
    </body>
  </html>